<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.490891362156-s8ji2l7mtvpu4723volthb4pr7lnb49t</string>
				<string>fb891535999464182</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>490891362156-s8ji2l7mtvpu4723volthb4pr7lnb49t.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb</string>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>twitter</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Resources/Fonts/Inter_18pt-Regular.ttf</string>
		<string>Resources/Fonts/Inter-Regular.ttf</string>
		<string>Resources/Fonts/Poppins-Regular.ttf</string>
		<string>Resources/Fonts/Poppins-SemiBold.ttf</string>
		<string>Resources/Fonts/Teko-Medium.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use this to better understand how you use our app across different services.</string>
</dict>
</plist>
